<html>
  <head>
    <title> testiserveri </title>
    <link rel="stylesheet" href="css/tyyli.css" />
  </head>
  <body>
    <!-- 
	 linkit:
	 <a href="{{ url_for('indeksi') }}"> indeksi </a>
	 {% if current_user.is_anonymous %}
	 <a href="{{ url_for('login') }}"> login </a>
	 {% else %}
	 <a href="{{ url_for('logout') }}"> logout </a>
	 {% endif %}
    -->
    <div class="sivu">
      {% block content %}{% endblock %}
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <p> Server messages: </p>
      <ul>
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </div>
  </body>
</html>
