{% extends "base.html" %}

{% block content %}

<div class="sektio indeksi">
  
  <div class="sektio peliin">
    <div class="otsikko">
      <h1> tervetuloa {{ username }} </h1>
      <p> olet pelannut {{ sessioncount }} sessiota </p>
    </div>
    <div class="sektio napit">
      <a href="/peli"> peliin </a>
      <a href="/logout"> pois </a>
    </div>
  </div>
  
  <div class="sektio dataa">  
    <div class="sektio kuvaikkuna">
      <!-- <button id="dataquestions"> nappiq </button> -->
      <ul>
	<li> This plot shows each question that has been answered at least once. </li>
	<li> The number of correct and wrong answers to these questions are stacked with different colours. </li>
      </ul>
      <div class="chartwrapper">
        <canvas id="cquestions" height="400" width="1000"></canvas>
      </div>
    </div>
    <div class="sektio kuvaikkuna">
      <!-- <button id="dataplayersessions"> nappips </button> -->
      <ul>
	<li> This plot shows all successive quiz sessions. </li>
	<li> Correct and wrong answers to quiz questions within a session are stacked with different colours. </li>
      </ul>
      <div class="chartwrapper">
        <canvas id="cplayersessions" height="400" width="1000"></canvas>
      </div>
    </div>
    <div class="sektio kuvaikkuna">
      <ul>
	<li> This plot shows all successive quiz sessions. </li>
	<li> Each session is a block. </li>
	<li> Block width: number of questions answered in the session. </li>
	<li> Block height: proportion of correct answers in the session. </li>
      </ul>
      <div id="d3sessiot"></div>
    </div>
  </div>

</div>

<script src="js/jquery-3.4.1.js" type="text/javascript"></script>
<script src="js/Chart.min.js" type="text/javascript"></script>
<script src="js/d3.v4.js" type="text/javascript"></script>
<script src="js/d3-scale-chromatic.v1.min.js" type="text/javascript"></script>
<script src="js/data.js" type="text/javascript"></script>

{% endblock %}
