<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<div class="loginruutu">
  <div class="otsikko">
    <h1> Login </h1>
  </div>
  <div class="sektio login">
    <form action="" method="POST" novalidate>
      {{ form.hidden_tag() }}
      <div class="loginput">
	{{ form.username.label }}<br>
	{{ form.username(size=32) }}<br>
	{% for error in form.username.errors %}
	<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
      </div>
      <div class="loginput">
	{{ form.password.label }}<br>
	{{ form.password(size=32) }}<br>
	{% for error in form.password.errors %}
	<span style="color: red;">[{{ error }}]</span>
	{% endfor %}
      </div>
      {{ form.submit() }}
    </form>
  </div>
</div>

{% endblock %}
