{% extends "base.html" %}

{% block content %}

<div class="sektio pelialue">
  <div id="peli"></div>
</div>

<div class="sektio napit">
  <p>
    <a href="/"> takaisin </a>
    <a href="/logout"> pois </a>
  </p>
</div>

<script src="js/jquery-3.4.1.js" type="text/javascript"></script>
<script src="js/phaser.min.js" type="text/javascript"></script>
<script src="js/peli.js" type="text/javascript"></script>

{% endblock %}
