* {
    box-sizing: border-box;
}

body {
    background-color: #1EBEBB;
    /* background-color: #2498eb; */
    /* background-image: linear-gradient(to top right,#2498eb,#1488db); */
}

.sivu {
    font-family: Arial;
    padding: 1px;
}

.sektio {
    padding: 4px;
    margin: 4px;
}

.peliin {
    width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

.dataa {
    width: 1200px;
    margin: 10px auto;
    background-color: #ffffff; /* #cdc6ee; */
    /* border-radius: 4px; */
    padding: 15px;
}

.kuvaikkuna {
    border-radius: 5px;
    border: 1px solid #606060;
    margin: 5px;
}

.chartwrapper {
}

.ala {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 830px;
    margin: 5px auto;
    padding: 5px;
}

.loginruutu {
    width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

.linkit {
    background-color: #34a8ff;
    margin: 20px auto;
    width: 400px;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid #000000;
}

.otsikko {
    font-family: Courier;
    text-align: center;
    color: #077777;
}

.login {
    text-align: center;
}

input {
    text-align: center;
    background-color: #ecf0f1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 20px;
    width: 260px;
    transition: border .5s;
}

input:focus {
    border: 2px solid #3498db;
    box-shadow: none;
}

#submit {
    padding: 10px 10px;
    margin: 10px auto;
    background: #3498db;
    color: #ffffff;
    line-height: 25px;
    border-radius: 3px;
    transition: 0.25s;
}

#submit:hover {
    background-color: #2980b9;
}

li {
    margin: 2px 10px;
}

a {
    font-family: Courier;
    font-weight: bold;
    color: #fef636;
    background-color: #000000;
    /* color: #ff4433; */
    /* background-color: #aaaaaa; */
    padding: 12px 25px;
    margin: 12px;
    font-size: 1.4em;
    border: 2px solid #555555;
    border-radius: 4px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/*

canvas {
  border: 1px solid;
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.image-detail-canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  max-width: 100% !important;
  max-height: 100% !important;
}

*/
